<div class="container" style="margin-top: 25px;">
  <h2>
    View Your Stock Feeds in Real Time
  </h2>
  <div class="row">
    <div class="col-md-6">


      <div style="width: 100%; overflow-x: auto; overflow-y: auto;" >


  <canvas
    baseChart
    [chartType]="'line'"
    [datasets]="datasets"
    [options]="options">
  </canvas>

     </div>
    </div>

    <div class="col-md-6">

      <div style="width: 100%; overflow-x: auto; overflow-y: auto;" >


  <canvas
    baseChart
    [chartType]="'line'"
    [datasets]="datasets"
    [options]="options">
  </canvas>

     </div>
    </div>

  </div>

  <!--Bottom two rows test-->

  <div class="row">
    <div class="col-md-6">


      <div style="width: 100%; overflow-x: auto; overflow-y: auto;" >


  <canvas
    baseChart
    [chartType]="'line'"
    [datasets]="datasets"
    [options]="options">
  </canvas>

     </div>
    </div>
    <div class="col-md-6">


      <div style="width: 100%; overflow-x: auto; overflow-y: auto;" >


  <canvas
    baseChart
    [chartType]="'line'"
    [datasets]="datasets"
    [options]="options">
  </canvas>

     </div>
    </div>



  </div>




</div>


