<div class="container" style="margin-top: 25px; margin-left:45%;">

  <form class="form-signin" [formGroup]="form" (submit)="submit()">

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="usd" formControlName="usd">
      <label class="form-check-label" for="usd">USDJPY</label>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="gbp" formControlName="gbp" >
      <label class="form-check-label" for="gbp">GBPUSD</label>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="eur" formControlName="eur" >
      <label class="form-check-label" for="eur">EURUSD</label>
    </div>

    <button  class="btn btn-lg btn-primary btn-block" type="submit">Subscribe to Stocks</button>

  </form>

</div>
